/* Position child elements relative to this element */
.aspect-ratio-box {
    position: relative;
  }
  
  /* Create a pseudo element that uses padding-bottom to take up space */
  .aspect-ratio-box::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio,  9 / 16 * 100% = 56.25*/
    padding-bottom: 56.25%;
  }
  
  /* Image is positioned absolutely relative to the parent element */
  .aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .profile-image {
    width: 125px;
    height: 125px;
    padding: 5px
  }

  .navbar-color {
    color: #f2b80a;
    text-decoration: none;
    background-color: transparent;
}

.btn-outline-light {
  color: #030303;
  border-color: #030303;
}