{% extends "main/header.html" %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-dark py-5 mb-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 animated slideInDown" style="color: #DAA520;">ICDL STUDENT</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Work Force Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1>Certification (Workforce and Professional)</h1>
        <h2>ICDL WORKFORCE CERTIFICATE </h2>
        <p>The International Computer Driving Licence (ICDL) is a certification program that aims to provide individuals with the skills necessary to use a computer and common computer applications. The program includes a series of courses that cover topics such as computer basics, word processing, spreadsheets, and information and communication. The certification is recognized internationally and is often required for jobs that involve the use of computers. It is a good way to show your employer or future employer that you have a good understanding of computer skills. </p>

        <h3>The ICDL program includes the following courses:</h3>
        <ol type="1">
            <li>Computer Essentials covers basic concepts of computer hardware and software, as well as operating systems, file management, and security.</li>
            <li>Online Essentials covers the basics of using the internet, including web browsing, communication, and email.</li>
            <li>Word Processing covers the use of word processing software to create and edit documents.</li>
            <li>Spreadsheets covers the use of spreadsheet software to create and manipulate numerical data.</li>
            <li>Presentation covers the use of presentation software to create and deliver presentations.</li>
            <li>Information and Communication covers the use of databases, information management and communication software.</li>
            <li>Online Collaboration: covers the use of online collaboration tools to work with others remotely.</li>
            <li>IT Security covers the concepts and best practices of IT security.</li>
        </ol>

        <h2>ICDL Computer Essentials</h2>
        <p>The ICDL Computer Essentials course is designed to provide individuals with the knowledge and skills necessary to understand and use a computer. The course covers the following topics:</p>
        <ol type="1">
            <li>Introduction to computer hardware covers the basic components of a computer, including the processor, memory, storage, and input/output devices.</li>
            <li>Introduction to computer software covers the types of software, such as operating systems, application software, and system software.</li>
            <li>Understanding file management covers the basics of file management, including creating, saving, and organizing files and folders.</li>
            <li>Computer security: covers the importance of computer security, including viruses, malware, and best practices for staying safe online.</li>
            <li>Protecting your data covers the importance of protecting data and how-to backup and restore data.</li>
            <li>Basic computer maintenance covers the basics of computer maintenance, including cleaning, troubleshooting, and updating software.</li>
            <li>Understanding operating systems covers the basics of operating systems, including the different types of operating systems and how they work.</li>
            <li>Understanding mobile devices covers the basics of mobile devices, including smartphones and tablets and how they differ from traditional computers.</li>
        </ol>
        <br>
        <p>This course is designed to provide individuals with the basic knowledge and skills necessary to understand and use a computer effectively. It also provides a foundation for more advanced courses such as word processing and spreadsheets.</p>
        <br>
        <h3>ICDL Online Essentials</h3>

    </div>
</div>
<!--  Work Force End -->
{% endblock content %}